body,
html {
  min-height: 100%;
}

$textShadow: 1px 0 0 black, -1px 0px 0 black, 0 1px 0 black, 0 -1px 0 black, 0 0 1px black;
$buttonGradient: linear-gradient(to right, limegreen, #0b0);
$infoButtonGradient: linear-gradient(to right, #0af, #07f);
$fileGradient: linear-gradient(to right, #f00, #b00);
$large: 20px;
$small: 18px;

body {
  background-image: linear-gradient(dodgerblue, blue, darkblue, blue, dodgerblue);
  background-size: 100% 400%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: $textShadow;
  overflow: auto;
}

.container {
  width: fit-content;
  margin: auto;
}

.cross {
  cursor: crosshair;
}

button:hover {
  box-shadow: 0 0 5px 1px black;
}

button {
  cursor: pointer;
  color: white;
  text-shadow: inherit;
  background-image: $buttonGradient;
  border: 2px solid black;
  border-radius: 5px;
  font-size: $small;
  margin: 0 5px;
}

button.fileBtn {
  background-image: $fileGradient;
}

button.infoTool {
  background-image: $infoButtonGradient;
  margin: 0 2px;
}

input {
  text-align: center;
  border: 2px solid black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  row-gap: 10px;
  justify-items: center;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 5px;
  label {
    font-size: $large;
  }
}

.transparent {
  background-image: url("../Images/transparent.jpg");
  border: 1px solid black;
  box-shadow: 5px 5px 20px black;
}

.transparent,
#canvas,
#newCanvas {
  width: 400px;
  height: 400px;
}
/* Icons */

#uploadIcon {
  background-image: url("../Images/upload.PNG");
  background-size: cover;
}

#downloadIcon {
  background-image: url("../Images/download.PNG");
  background-size: cover;
}

#leftIcon {
  background-image: url("../Images/LArrow.PNG");
  background-size: cover;
}

#rightIcon {
  background-image: url("../Images/RArrow.PNG");
  background-size: cover;
}

#plusIcon {
  background-image: url("../Images/plus.PNG");
  background-size: cover;
}

#minusIcon {
  background-image: url("../Images/minus.PNG");
  background-size: cover;
}
