body,
html {
  min-height: 100%;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(dodgerblue), color-stop(blue), color-stop(darkblue), color-stop(blue), to(dodgerblue));
  background-image: linear-gradient(dodgerblue, blue, darkblue, blue, dodgerblue);
  background-size: 100% 400%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 1px 0 0 black, -1px 0px 0 black, 0 1px 0 black, 0 -1px 0 black, 0 0 1px black;
  overflow: auto;
}

.container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

/* Cursor types */
.cross {
  cursor: crosshair;
}

.dropper {
  cursor: url("../Images/dropperCursor.PNG") 0 0, crosshair;
}

/* Buttons */
button:hover {
  -webkit-box-shadow: 0 0 5px 1px black;
          box-shadow: 0 0 5px 1px black;
}

button {
  cursor: pointer;
  color: white;
  text-shadow: inherit;
  background-image: -webkit-gradient(linear, left top, right top, from(limegreen), to(#0b0));
  background-image: linear-gradient(to right, limegreen, #0b0);
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
  margin: 0 5px;
}

button.fileBtn {
  background-image: -webkit-gradient(linear, left top, right top, from(#f00), to(#b00));
  background-image: linear-gradient(to right, #f00, #b00);
  font-size: 20px;
  padding: 3px;
}

button.infoTool {
  background-image: -webkit-gradient(linear, left top, right top, from(#0af), to(#07f));
  background-image: linear-gradient(to right, #0af, #07f);
  font-size: 15px;
  padding: 3px;
}

button.findBtn {
  background-image: none;
  background-color: #222;
  color: white;
  text-shadow: none;
  font-size: inherit;
  margin: 0 1px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  min-width: 25px;
}

/* Inputs */
input {
  text-align: center;
  border: 2px solid black;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 100px;
          column-gap: 100px;
  row-gap: 10px;
  justify-items: center;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 5px;
}

.grid label {
  font-size: 20px;
}

/* Canvases */
.transparent {
  background-image: url("../Images/transparent.jpg");
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 20px black;
          box-shadow: 5px 5px 20px black;
}

.transparent,
#canvas,
#newCanvas {
  width: 400px;
  height: 400px;
}

/* Icons */
#uploadIcon {
  background-image: url("../Images/upload.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}

#downloadIcon {
  background-image: url("../Images/download.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}

#leftIcon {
  background-image: url("../Images/LArrow.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}

#rightIcon {
  background-image: url("../Images/RArrow.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}

#plusIcon {
  background-image: url("../Images/plus.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}

#minusIcon {
  background-image: url("../Images/minus.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}

#dropperIcon {
  background-image: url("../Images/dropper.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}

#mouseDropperIcon {
  background-image: url("../Images/mousePlusDropper.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=App.css.map */