body,
html {
  min-height: 100%;
}

$buttonGradient: linear-gradient(to right, limegreen, #0b0);
$infoButtonGradient: linear-gradient(to right, #0af, #07f);
$fileGradient: linear-gradient(to right, #f00, #b00);
$large: 20px;
$medium: 18px;
$small: 15px;
$small-padding: 3px;

body {
  font-family: "Quicksand", sans-serif;
  overflow: auto;
}

.container {
  width: fit-content;
  margin: auto;
}

/* Cursor types */

.cross {
  cursor: crosshair;
}

.dropper {
  cursor: url("../Images/dropperCursor.PNG") 0 0, crosshair;
}

/* Buttons */

button.findBtn {
  background-image: none;
  background-color: #222;
  color: white;
  text-shadow: none;
  font-size: inherit;
  margin: 0 1px;
  position: relative;
  box-sizing: border-box;
  outline: none;
  min-width: 25px;
}

/* Inputs */

input {
  text-align: center;
  border: 2px solid black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  row-gap: 10px;
  justify-items: center;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 5px;
  label {
    font-size: $large;
  }
}
