body,
html {
  min-height: 100%;
}

$textShadow: 1px 0 0 black, -1px 0px 0 black, 0 1px 0 black, 0 -1px 0 black, 0 0 1px black;
$buttonGradient: linear-gradient(to right, limegreen, #0b0);
$large: calc(10px + 1vw);
$small: calc(10px + 0.5vw);

body {
  background-image: linear-gradient(dodgerblue, blue);
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: $textShadow;
  overflow: auto;
}

.container {
  width: fit-content;
  margin: auto;
}

.cross {
  cursor: crosshair;
}

button:hover {
  box-shadow: 0 0 5px black;
}

button {
  cursor: pointer;
  color: white;
  text-shadow: inherit;
  background-image: $buttonGradient;
  border: 2px solid black;
  border-radius: 5px;
  font-size: $small;
  margin: 0 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  row-gap: 10px;
  justify-items: center;
  border-radius: 10px;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 5px;
  label {
    font-size: $large;
  }
}

.transparent {
  background-image: url("./transparent.jpg");
  border: 1px solid black;
  box-shadow: 5px 5px 20px black;
}

.transparent,
#canvas,
#newCanvas {
  width: 400px;
  height: 400px;
}

#leftIcon {
  background-image: url("./LArrow.PNG");
  background-size: cover;
}

#rightIcon {
  background-image: url("./RArrow.PNG");
  background-size: cover;
}
